# Exclude compiled files
*.so
*.d
*.pcm
.paf/
*.pyc
combine_logger.out

# Exclude files by emacs
*~
.~*

# Exclude downloaded Datasets
Datasets/

# Others
.DS_Store
*_temp/
inputdata.root
plotter/TW/Differential/temp/*
plotter/TW/Differential/results/*
plotter/TWTTbar/temp/*
plotter/TWTTbar/results/*
plotter/TWTTbar/logs/*

#Higgs combine output :)
higgsCombine*.root
higgsCombinefit_*.root
roostats-*
LCurve*
